{% extends 'layout.html' %}

{% block content %}

<h1>blog</h1>
{% for p in posts  %}
<div class="p-3">
    
    <div class="card card-body bg-dark">

        <div class="row">
            <div class="col-3">
                <img src="{{p.image.url}}" alt="{{p.tittle}}" class="img-fluid"> 
            </div>
            <div class="col-9">
                <h2>{{p.tittle}}</h2>
                <p>{{p.description|safe|truncatechars:100}}</p>
                <p>{{p.date}}</p>
                
                
                <a href="{% url 'blog:post_detail' p.id %}" class="btn btn-primary">p.tittle</a>
            </div>

        </div>
        
            
    </div>
</div>
{% endfor %}

{% endblock %}